.video-container {
    width: 100%;
    position: relative;
}

video {
    width: inherit;
}

.duration {
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    width: 80px;
    text-align: center;
    position: absolute;
    right: 30px;
    top: 30px;
}
