.video-container {
    width: 100%;
    position: relative;
    padding-left: 40px;
    padding-bottom: 20px;
}

video {
    width: inherit;
    border: 1px solid #272525;
}

.duration {
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    width: 80px;
    text-align: center;
    position: absolute;
    right: 30px;
    top: 30px;
}

.bonus-info {
    font-size: 14px;
    background: #565656;
    padding: 5px;
    border-radius: 2px;
}

.like-count {
    padding-left: 20px;
}
