.channel-info-right, .action-buttons-right {
    text-align: right;
}

.btn-subscribe {
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    background: #E01F05;
    color: #ffffff;
    border-radius: 3px;
}