nz-layout {
  background-color: #141414;
  padding: 0.5em 1em;
}

.carousel {
  min-height: 300px;
}

.ant-card {
  width: 200px;
  height: 300px;
}

h3 {
  color: #fff;
  padding-left: 40px;
}

.slick-slide img {
  height: 250px;
  width: 200px;
}

.ant-card-body {
  padding: 10px !important;
}
