<nz-layout>
  <h3>{{titleCarousel}}</h3>
  <ngx-slick-carousel style="padding:0.25em 3em;"
    class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig" *ngIf="loading">
    <div ngxSlickItem *ngFor="let video of mockData" class="slide">
      <nz-card nzHoverable [nzLoading]="loading" [nzBordered]="false">
        <nz-card-meta nzTitle="{{video.title}}"></nz-card-meta>
      </nz-card>
    </div>
  </ngx-slick-carousel>
  <ngx-slick-carousel style="padding:0.25em 3em;"
    class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig" *ngIf="!loading">
    <div ngxSlickItem *ngFor="let video of listVideo" class="slide">
      <nz-card nzHoverable [nzCover]="coverTemplate" [nzBordered]="false">
        <nz-card-meta nzTitle="{{video.title}}"></nz-card-meta>
      </nz-card>
      <ng-template #coverTemplate>
        <img (click)="showDetailVideo(video.movieId)" alt="{{video.title}}" src="{{video.poster}}"/>
      </ng-template>
      <!-- <ng-template #actionTemplate>
        <button (click)="showDetailVideo(video.movieId)" nz-button nzType="primary"><i nz-icon type="play-circle" theme="outline"></i> Watch movie</button>
      </ng-template> -->
    </div>
  </ngx-slick-carousel>
</nz-layout>