<rec-slick-carousel [listVideo]="mediaJSON" [loading]="loading" titleCarousel="Trending"></rec-slick-carousel>
<rec-slick-carousel [listVideo]="mediaJSON" [loading]="loading" titleCarousel="Recommend for you"></rec-slick-carousel>
<rec-slick-carousel [listVideo]="mediaJSON" [loading]="loading" titleCarousel="New Release"></rec-slick-carousel>
<rec-slick-carousel [listVideo]="mediaJSON" [loading]="loading" titleCarousel="Because you watched"></rec-slick-carousel>
<rec-slick-carousel [listVideo]="mediaJSON" [loading]="loading" titleCarousel="People watched also watched"></rec-slick-carousel>
<rec-slick-carousel [listVideo]="mediaJSON" [loading]="loading" titleCarousel="Because your friend watched"></rec-slick-carousel>