<div nz-row nz-col nzSm="24" nzMd="9">
  <div class="left-cover" nz-col nzXs="9">
      <img [src]="movie.poster" alt="">
  </div>
  <div class="content" nz-col nzXs="13" nzOffset="2">
    <h2 class="title">{{ movie.title }}</h2>
    <div class="reviews"></div>
    <ul class="info">
      <li>Actor : <a *ngFor="let actor of movie.actor; let last = last;">{{actor}}<span *ngIf="!last">, </span></a></li>
      <li>Genre : <a *ngFor="let genre of movie.genre; let last = last;">{{genre}}<span *ngIf="!last">, </span></a></li>
      <li>Release : {{movie.datePublished }}</li>
      <li>Language : English</li>
    </ul>
    <ul class="social-media">
      <li class="facebook"><i nz-icon type="facebook" theme="outline"></i></li>
      <li class="twitter"><i nz-icon type="twitter" theme="outline"></i></li>
      <li class="google"><i nz-icon type="google" theme="outline"></i></li>
    </ul>
    <button nz-button nzSize="large" nzType="danger">All Movie</button>
  </div>
</div>
<div nz-col nzSm="24" nzMd="15" class="description">
  <h3 style="color: white;">Description:</h3>
    {{movie.description}}
</div>