<div nz-row nz-col nzSm="24" nzMd="9">
  <div class="left-cover" nz-col nzXs="9">
      <img src="https://m.media-amazon.com/images/M/MV5BMDU2ZWJlMjktMTRhMy00ZTA5LWEzNDgtYmNmZTEwZTViZWJkXkEyXkFqcGdeQXVyNDQ2OTk4MzI@._V1_.jpg" alt="">
  </div>
  <div class="content" nz-col nzXs="13" nzOffset="2">
    <h2 class="title">Toy Story</h2>
    <div class="reviews"></div>
    <ul class="info">
      <li>Actor : Priti kapel, Justin orjun</li>
      <li>Genre : Drama, Action</li>
      <li>Release : Jun, 02, 2018</li>
      <li>Language : English</li>
    </ul>
    <ul class="social-media">
      <li class="facebook"><i nz-icon type="facebook" theme="outline"></i></li>
      <li class="twitter"><i nz-icon type="twitter" theme="outline"></i></li>
      <li class="google"><i nz-icon type="google" theme="outline"></i></li>
    </ul>
    <button nz-button nzSize="large" nzType="danger">All Movie</button>
  </div>
</div>
<div nz-col nzSm="24" nzMd="15" class="description">
  <h3 style="color: white;">Description:</h3>
  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown the printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. 

It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters. 

Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. 

The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
</div>