.not-found-page {
    text-align: center;
}

.not-found-page h1 {
    color: #fff;
}

.icon-404 {
    font-size: 22.02vw;
}
.four-first {
    color: #034da2;
}

.zero {
    color: #f36f21;
}

.four-last {
    color: #51b847
}