<h1>Last Action</h1>
<nz-layout style="padding: 0 40px;background: transparent;">
  <div nz-row nzType="flex" nzJustify="space-between" class="row-item">
    <div nz-col nzSpan="4">
      <nz-card nzHoverable [nzLoading]="loading" [nzBordered]="false">
        <nz-card-meta nzTitle=""></nz-card-meta>
      </nz-card>
    </div>
    <div nz-col nzSpan="4">
      <nz-card nzHoverable [nzLoading]="loading" [nzBordered]="false">
        <nz-card-meta nzTitle=""></nz-card-meta>
      </nz-card>
    </div>
    <div nz-col nzSpan="4">
      <nz-card nzHoverable [nzLoading]="loading" [nzBordered]="false">
        <nz-card-meta nzTitle=""></nz-card-meta>
      </nz-card>
    </div>
    <div nz-col nzSpan="4">
      <nz-card nzHoverable [nzLoading]="loading" [nzBordered]="false">
        <nz-card-meta nzTitle=""></nz-card-meta>
      </nz-card>
    </div>
    <div nz-col nzSpan="4">
      <nz-card nzHoverable [nzLoading]="loading" [nzBordered]="false">
        <nz-card-meta nzTitle=""></nz-card-meta>
      </nz-card>
    </div>
    <div nz-col nzSpan="4">
      <nz-card nzHoverable [nzLoading]="loading" [nzBordered]="false">
        <nz-card-meta nzTitle=""></nz-card-meta>
      </nz-card>
    </div>
  </div>
  <div nz-row nzType="flex" nzJustify="space-between" class="row-item">
    <div nz-col nzSpan="4">
      <nz-card nzHoverable [nzLoading]="loading" [nzBordered]="false">
        <nz-card-meta nzTitle=""></nz-card-meta>
      </nz-card>
    </div>
    <div nz-col nzSpan="4">
      <nz-card nzHoverable [nzLoading]="loading" [nzBordered]="false">
        <nz-card-meta nzTitle=""></nz-card-meta>
      </nz-card>
    </div>
    <div nz-col nzSpan="4">
      <nz-card nzHoverable [nzLoading]="loading" [nzBordered]="false">
        <nz-card-meta nzTitle=""></nz-card-meta>
      </nz-card>
    </div>
    <div nz-col nzSpan="4">
      <nz-card nzHoverable [nzLoading]="loading" [nzBordered]="false">
        <nz-card-meta nzTitle=""></nz-card-meta>
      </nz-card>
    </div>
    <div nz-col nzSpan="4">
      <nz-card nzHoverable [nzLoading]="loading" [nzBordered]="false">
        <nz-card-meta nzTitle=""></nz-card-meta>
      </nz-card>
    </div>
    <div nz-col nzSpan="4">
      <nz-card nzHoverable [nzLoading]="loading" [nzBordered]="false">
        <nz-card-meta nzTitle=""></nz-card-meta>
      </nz-card>
    </div>
  </div>
</nz-layout>
