<main>
  <section class="video-player" nz-row>
    <div nz-col nzLg="16" nzXs="24">
      <video-player sources="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/VolkswagenGTIReview.mp4"></video-player>
    </div>
    <div nz-col nzLg="8" nzXs="24" class="related-movies">
      <movie-info nz-row style="padding: 40px;" [movie]="movie"></movie-info>
    </div>
  </section>
  <section nz-row>
    <div class="tag-section">Tags: <a *ngFor="let tag of movie?.tag; let last = last;">#{{tag}}<span *ngIf="!last">, </span></a></div>
  </section>
  <section nz-row>
    <comments-and-reviews></comments-and-reviews>
  </section>
  <section nz-row>
    <rec-slick-carousel [listVideo]="relatedMovie.item" titleCarousel="Related Movies"></rec-slick-carousel>
  </section>
</main>