<div class="tabs-container">
  <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
      <nz-tab nzTitle="Comments">
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make sfsa type specimen book. It has survived not only five but centuries, but also the leap into electronic typesetting, remaining essentially unchanged Ipsum. Lorem Ipsum has been the industry's standard printer tok but galley of type into electronic typesetting, remaining essentially unchanged Ipsum. 
  
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make sfsa type specimen book. It has survived not only five but centuries, but also the leap into electronic typesetting, remaining essentially unchanged Ipsum. Lorem Ipsum has been the industry's standard printer tok but galley of type into electronic typesetting, remaining essentially unchanged Ipsum. 
          
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make sfsa type specimen book. but centuries, but also the leap into electronic typesetting, remaining essentially unchanged Ipsum.
      </nz-tab>
      <nz-tab nzTitle="Reviews">
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make sfsa type specimen book. It has survived not only five but centuries, but also the leap into electronic typesetting, remaining essentially unchanged Ipsum. Lorem Ipsum has been the industry's standard printer tok but galley of type into electronic typesetting, remaining essentially unchanged Ipsum. 
  
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make sfsa type specimen book. but centuries, but also the leap into electronic typesetting, remaining essentially unchanged Ipsum.
      </nz-tab>
    </nz-tabset>
</div>